<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png "id="logoAP">
         </div>
         <div class="redes" >
             <!--<a href=""><img src="../../../assets/linkedin.png" id="linkedin"></a>-->
             <a href=" https://twitter.com/ronaldo64009829?s=08 "target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
             <a href="https://www.instagram.com/ronaldo._.cab/"target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
             <a href="https://github.com/RonaldoCortezTYy23"target="_blank"><img src="../../../assets/github.png" id="github"></a>
             <a href="https://www.facebook.com/ronaldo.cortez.9210" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
             <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
             <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>   
    </div>
</div>

